* {
  box-sizing: border-box;
}

:root {
  --main-border-color: #eaecef;
  --main-hover-bg-color: #0366d6;
  --main-bg-color: #f6f8fa;
  --button-bg-color: #fafbfc;
  --button-border-color: #1b1f2326;
  --button-hover-bg-color: #f3f4f6;
  --button-hover-border-color: #1b1f2326;
  --green-button-bg-color: #2ea44f;
  --green-button-border-color: #1b1f2326;
  --green-button-hover-bg-color: #2c974b;
  --green-button-hover-border-color: #1b1f2326;
  --counter-bg-color: #d1d5da80;
  --counter-font-color: #6a737d;
  --text-link-color: #0366d6;
}

button {
  outline: none;
}

.section__board {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.flex {
  display: flex;
  align-items: center;
}
