.board {
  flex: 0 0 auto;
  width: 30rem;
  height: 100%;
  border: 1px var(--main-border-color) solid;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  overflow-y: auto;
}

.board--mr {
  margin-right: 1rem;
}

.board__inner {
  position: relative;
  padding: 16px;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board__card-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 32px;
  font-weight: bold;
  background-color: var(--counter-bg-color);
  color: var(--counter-font-color);
}

.board__title {
  font-weight: bold;
}

.board__title--ml {
  margin: 0 0 0 8px;
}

.board__open-card-form-button {
  width: 12px;
  cursor: pointer;
}

.board__open-card-form-button--mr {
  margin: 0 8px 0 0;
}

.board__more-button {
  width: 12px;
  cursor: pointer;
}
