.card-editor {
  width: 36vw;
  border: 1px var(--main-border-color) solid;
  border-radius: 4px;
  background-color: white;
}

.card-editor--absolute {
  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;
  margin: auto;
}

.card-editor__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--main-bg-color);
}

.card-editor__close-button {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.card-editor__form {
  padding: 16px;
}

.card-editor__label {
  margin-bottom: 8px;
}

.card-editor__textarea {
  display: block;
  width: 100%;
  min-height: 8rem;
  margin: 12px 0;
  padding: 4px;
  border: 1px var(--main-border-color) solid;
  border-radius: 4px;
}

.card-editor__textarea:focus {
  outline: none;
  border: 1px #0366d6 solid;
  border-radius: 4px;
  box-shadow: 0 0 0 3px #b6cdf0;
}

.card-editor__save-button {
  padding: 8px 12px;
  border: 1px var(--green-button-border-color);
  border-radius: 4px;
  background-color: var(--green-button-bg-color);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.card-editor__save-button:disabled {
  border-color: #1b1f231a;
  background-color: #94d3a2;
}
