.card {
  padding: 8px;
  border: 1px gray solid;
  border-radius: 4px;
  background-color: white;
  cursor: move;
}

.card--my {
  margin: 8px 0;
}

.card__inner--relative {
  position: relative;
}

.card__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.card__body {
  padding: 0 2rem 0 2rem;
  overflow-wrap: break-word;
}

.card__body--content {
  cursor: pointer;
}

.card__body--author {
  margin: 12px 0 0 0;
  font-size: 12px;
}

.card__more-button {
  position: absolute;
  top: -4px;
  right: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
