.card__dropdown {
  position: absolute;
  right: -2px;
  top: 0;
  width: 6rem;
  margin: 16px 0 0 0;
  border: 1px gray solid;
  border-radius: 4px;
  background-color: white;
}

.card__dropdown--menu-item {
  margin: 4px 0;
  padding: 4px 8px;
}

.card__dropdown--menu-item:hover {
  background-color: blue;
  color: white;
}
